<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
{{.Fall.Term}} {{.AcaYear}}
{{range .Fall.Courses}}
{{template "courses" .}}
{{end}}

{{.Spring.Term}} {{.AcaYear}}
{{range .Spring.Courses}}
{{template "courses" .}}
{{end}}
{{end}}

</body>
</html>

{{define "courses"}}
{{.Number}} - {{.Name}} - {{.Units}}
{{end}}
