<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Time}}
    {{range .Items}}
        {{.Name}} {{.Price}}
    {{end}}
{{end}}

</body>
</html>